.section1{
  &__left{
    position: relative; top: 0; left: 0;
    overflow: hidden;
    .svg-wrap{

    }
    #svg{
      min-width: 255.01px;
      max-width: 450px; max-height: 100%;
      overflow: visible;
      position: absolute; bottom: $icon-size1; right: $icon-size1; 
      @include media-breakpoint-up(xxl) {
        bottom: 0; right: 0; 
      }
      @include media-breakpoint-only(xs) {
        right:50%; 
        transform: translate(50%, 0);
      }
      ~ * {
        position: relative; z-index: 9;
      }
    }
    p{
      line-height: 1.5;
      mix-blend-mode: multiply;
      margin-top: $top-bottom-padding;
      color: $grey400;
      word-break: keep-all;
      margin-bottom: $top-bottom-padding * 6;
      @include media-breakpoint-up(xxl) {
        margin-bottom: $top-bottom-padding * 2;
      }
      @include media-breakpoint-between(xl, xxl) {
        margin-bottom: $top-bottom-padding * 8;
      }
      @include media-breakpoint-only(xs) {
        margin-bottom: $top-bottom-padding * 2;
        ~ a{
          margin-bottom: $top-bottom-padding * 12;
        }
      }
    }
    
    .btn--primary{
      display: inline-flex;
      align-items: center;
      height: 36px;
      border-radius: calc(36px / 2);
      padding: {
        left: $icon-size2;
        right: $icon-size2;
      };
    }
  }
  &__right{
    text-align: center;
    .round-box{
      @include flex-center-center;
      flex-direction: column;
    }
    p{
      margin: {
        top: 7px;
        bottom: 14px;
      }
      b{
        display: block;
        margin: {
          bottom: 5px;
        }
      }
      span{
        color: $primary-blue-lighten300-grey;
        font-size: 1.071rem;
      }
    }
  }
}
.profile{
  width: 100px; height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  img{
    width: 100%; height: 100%;
  }
}
.timeline{
  $size: 7px;
  .detail{
    flex-direction: column;
    width: calc(100% - $size);
    position: relative;
    margin-bottom: 0;
    &::before{
      content: "";
      position: absolute;
      width: 50%;
      border: solid lighten($primary-blue-lighten400-grey, 20%);
    }
    &:nth-child(odd){
      margin-left: $size;
      padding: $icon-size1 $size $icon-size1 $icon-size1;
      @include media-breakpoint-down(sm) {
        padding: $icon-size2 $size $icon-size2 $icon-size2;
      }
      &::before{
        left: 0px; top: -4.5px; bottom: -4.5px;
        border: {
          width: 5px 0 5px 5px;
          radius: 44px 0 0 44px;
        }
      }
      .detail__title{
        &::before{
          left: -$size;
        }
      }
    }
    &:nth-child(even){
      margin-right: $size;
      padding: $icon-size1 $icon-size1 $icon-size1 $size;
      @include media-breakpoint-down(sm) {
        padding: $icon-size2 $icon-size2 $icon-size2 $size;
      }
      &::before{
        right: 0; top: 0; bottom: 0;
        border: {
          width: 5px 5px 5px 0;
          radius: 0 44px 44px 0;
        }
      }
      .detail__title{
        text-align: right;
        &::before{
          right: -$size;
        }
      }
      .detail__contents{
        dl{
          text-align: right;
          @include media-breakpoint-down(xxl) {
            dt{
              order: 1;
              ~ dd{
                order: 2;
              }
            } 
          }
          dt{
            order: 2;
          }
          dd{
            order: 1;
            .list-item{
              padding: {
                left: 0;
                right: $top-bottom-padding;
              };
              &::before{
                display: none;
              }
              &::after{
                content: "-";
                position: absolute; top:0; right: 0; left: auto;
              }
            }
          }
        }
      }
    }
    &:first-child{
      &::before{
        border: {
          top: 0;
          top-left-radius: 0;
        }
      }
    }
    &:last-child{
      &:nth-child(odd){
        &::before {
          border: {
            bottom: 0;
            bottom-left-radius: 0;
          };
        }
      }
      &:nth-child(even){
        &::before {
          border: {
            bottom: 0;
            bottom-right-radius: 0;
          };
        }
      }
    }
    &__title{
      width: inherit;
      font-size: 1.2rem;
      margin-bottom: $icon-size2;
      &::before{
        content: "";
        position: absolute;
        width: 10px;height: 10px;
        background: white;
        border-radius: 999px;
        border: 4px solid $primary-blue-lighten400-grey;
        box-sizing: content-box;
      }
    }
    &__contents{
      background-color: $grey100;
      border: 1px solid rgba($black, 0.01);
      border-radius: $icon-size1;
      padding: $icon-size1;
      @include media-breakpoint-down(sm) {
        padding: $icon-size2;
      }
    }
  }
}
.typing-box{
  position: relative;
  top: 0; left: 0;
  &__text{
    position: absolute;
    top: 0; left: 0;
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: calc($icon-size1 * 2);
    @include media-breakpoint-down(md) {
      font-size: 1.8rem;
    }
    &.hide{
      position: relative;
      opacity: 0;
    }
  }
}
.blinking-cursor {
  color: $grey700;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $grey700;
  }
}
@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $grey700;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $grey700;
  }
}
@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $grey700;
  }
}
@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $grey700;
  }
}
.chart{
  .round-box{
    min-height: 250px;
  }
}
.type-erase-text{
  color: $primary-blue;
  font-weight: bold;
}

.skill{
  &-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 10px);
    max-width: 180px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px rgba($black, 0.05);
    font: {
      size: 1.4rem;
      weight: bold;
    }
    margin: 10px auto;
    position: relative; top: 0; left: 0;
    &.js{
      &::before{
        background-image: url(../images/javascript-logo.png);
      }
    }
    &.html{
      &::before{
        background-image: url(../images/html-logo.png);
      }
    }
    &.css{
      &::before{
        background-image: url(../images/css-logo.png);
      }
    }
    &::before{
      content: "";
      display: block;
      height: 80px;
      background: {
        repeat: no-repeat;
        size: contain;
        position: center;
      }
      margin-bottom: $top-bottom-padding;
    }
    &::after{
      content: "";
      display: block;
      width: calc(100% + 10px);
      aspect-ratio: 1/1;
      border: 2px dotted rgba($black, 0.1);
      border-radius: 50%;
      box-sizing: content-box;
      position: absolute; top: 50%; left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-description{
    word-break: keep-all;
    line-height: 2;
    padding-top: $top-bottom-padding;
  }
}