body{
  &.sideBar-hide{
    header{
      width:calc(100% - $right-left-padding);
    }
  }
  &.offCanvas{
    header{
      width:100%;
    }
  }
}
.header{
  @include flex-spaceBetween-center;
  width:calc(100% - $side-bar-width); height: $header-height;
  padding: 0 calc($header-padding / 2);
  border-bottom: 1px solid rgba($black, 0.1);
  background-color: $white;
  position: fixed; top:0; right: 0; z-index: 999;
  transition: width 0.5s;
  &__btn{
    display: flex;
    gap: 4px;
    order:1;
    .btn{
      &::before{
        vertical-align: middle;
        padding-right: 4px;
        font-size: 1.15rem;
      }
    }
    @include media-breakpoint-down(md) {
      .resume{
        display: flex;
        align-items: center;
        justify-content: center;
        height: $icon-size3;
        position: fixed; bottom: 0; right: $top-bottom-padding;
        padding: 0 $icon-size2;
        border-radius: $top-bottom-padding $top-bottom-padding 0 0;
      }
    }
  }
  @include media-breakpoint-down(md) {
    width: 100% !important; height: $icon-size3;
    padding: 0 $icon-size1;
    .m-logo{
      height: $icon-size1 + 10px;
      order: 2;
      position: absolute;top: 50%;left: 50%;
      transform: translate(-50%, -50%);
      a,img{
        height: 100%;
      }
    }
  }
}
.hamberger{
  @include flex-center-center;
  flex-direction: column;
  width: $icon-size1;
  aspect-ratio: 1/0.7;
  order: 3;
  position: relative;
  padding: 0;
  border: 0;
  span,span::before,span::after{
    width: 100%;height: 0;
    border-bottom: 2px solid $primary-blue-lighten300-grey;
  }
  span{
    transition: all 2s;
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
    &::after,&::before{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      transition: all 1s;
    }
  }
  &.close{
    span{
      border-color: transparent;
      &::before{
        transform: rotate(45deg);
        top: 50%;
      }
      &::after{
        transform: rotate(-45deg);
        top: 50%;
      }
    }
  }
}